@media only screen and (max-width:320px) {
    body{
        background-color: aqua;
    }
    .box-principal-header{
        width: 100%;
        height: 60vh;
        flex-wrap: wrap;
        padding:15px;
        flex-direction: column;
        display: flex;
        align-items: center;
        background-color: aliceblue;
    }
    .h1-header{
        font-size: 30px;
        text-transform: capitalize;
        font-family: monospace;
        margin: 20px;
        width: ;
    }
    .box-navegacao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-links{
        text-decoration: none;
        border: solid 1px black;
        padding: 3px;
        margin: 1px;
        color: black;
        width: 78vw;
        text-align: center;
        margin-bottom: 8px;
    }
}

@media only screen and (min-width:375px) {
    body{
        background-color: rgb(157, 255, 0);
    }
}

@media only screen and (min-width:425px) {
    body{
        background-color: rgb(170, 0, 255);
    }
}

@media only screen and (min-width:768px) {
    body{
        background-color: rgb(255, 0, 149);
    }
}

@media only screen and (min-width:1024px) {
    body{
        background-color: rgb(85, 0, 255);
    }
}